<!--header partial -->
<%- include ('partials/header.ejs') %>
<!--banner partial -->
    <%- include ('../partials/banner.ejs') %>
<div class = "container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<!--footer partial -->
<%- include ('partials/footer.ejs') %>